# MyPaint backups
design/*~

/target

/.vscode/

# Translated data files
/resources/de.swsnr.umbrella.metainfo.xml
/de.swsnr.umbrella.desktop

# Compiled message catalogs
po/*.mo

# Compiled schema
/schemas/gschemas.compiled
